//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
// variables 
@import "global/variables.scss";
//  mixins
@import "global/mixins.scss";
// Fonts
@import "global/font.scss";
// Global CSS
@import "global/global.scss";
// buttons
@import "global/buttons.scss";

// navbar
@import "structure/navbar.scss";
// footer
@import "structure/footer.scss";
// banner
@import "structure/banner.scss";
// // accordion
@import "structure/accordion.scss";
// // about
@import "structure/about.scss";
// // forms

@import "global/forms.scss";

// // Home
@import "structure/home";

// // Obras
@import "structure/obras";

// // Compliance
@import "structure/compliance";

// // Contato
@import "structure/contact";

*{
    font-family: "Roboto", Sans-serif !important;
    //font-family: 'Montserrat', sans-serif !important;
    body{
        overflow-x: hidden;
    }
}

.hiden-mobile{
    @include media-breakpoint-down(md){
        display: none !important;
    }
}
.banner_slick {
    padding: 0;
}

.page-template-template-page-home{
    .social-medias{
        a{
            svg{
                color: #ffffff;
            }
        }
    }
}


.slick-lightbox-slick-item-inner.iframe iframe {
    width: 80vw;
    height: 80vh;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
   }

.etica{
    strong{
        font-weight: 700;
        font-size: 19px;
    }
}
.embed-responsive {
    @include media-breakpoint-down(md){
        height: 80vh;
    }
    @include media-breakpoint-up(md){
        max-height: 80vh;
    }
}
img.play-youtube-video { 
    width: 70%;
    position: absolute;
    top: 0;
    left: 20%;
}
/*
section.about_container {
    background: url('/wp-content/uploads/2020/11/water_mark.png');
    background-repeat: no-repeat;
}
*/
.contact-us, .project{
    p{
        img{
            filter: brightness(0) invert(1);
        }
    }
}
@media (min-width: 1367px){
    .denuncia .card-contact .contact-dados {
        padding-left: 40px;
    }
}
.box-content{
    h1 {
        font-weight: 900;
    }
}
.banner_slick_inst, .carousel-item, .banner_slick{
    img{
        max-width: 100%;
    }
}
.denuncia .card-contact {
    margin-top: 0 !important;
}
footer {
    a, a:hover{
        color: #fff;
        text-decoration: underline;
        font-weight: 400;

    }
}
@media screen and (min-width: 992px){
    div#nav-tabContent .row .col-md-6 + .col-md-6:before {
        content: '';
        background: #666666;
        height: 100vh;
        display: block;
        border-bottom: 0px solid #e5e5e5;
        width: .4%;
        z-index: 4;
        margin-left: 17px;
        position: absolute;
        left: -3px;
    }
}
.nav-tabs-home{
    li{
        a{
            .see_more{
                opacity: 0;
                -webkit-transition: opacity .8s ease-in-out;
                -moz-transition: opacity .8s ease-in-out;
                -ms-transition: opacity .8s ease-in-out;
                -o-transition: opacity .8s ease-in-out;
                transition: opacity .8s ease-in-out;
            }
        }
        &:hover{
            a{
                .see_more{
                    opacity: 1;
                }
            }
        }
    }
}
.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 50px;
    margin-left: -11px;
    margin-top: -5px;
    width: 121%;
}
.page-template-template-page-institucional, .page-template-template-page-obras, .page-template-template-page-compliance, .page-template-template-page-contato{
    footer{
        a, a:hover{
            color: #1a1f4d;
            font-weight: 400;
        }
    }
}
#product #nav-tabContent{
    p.nav-img-description {
        color: #7a7a7a;
        font-family: "Roboto", Sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}
.upload-btn-wrapper .arquivo {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 60%;
    height: 50px;
    padding: 0;
    border: 2px solid #191f4e;
}
div.wpcf7 input[type="file"] {
    cursor: pointer;
}
.btn-file {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    height: 100%;
    padding: 0 15px;
    text-align: left;
    line-height: 50px;
    text-transform: uppercase;
    font-family: "bw_quinta_probold";
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1.4px;
    color: #4c555b;
}
.btn-file i {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    &:after{
        -webkit-mask-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAUCAYAAABWMrcvAAABO0lEQVQ4je3TMUtcURAF4E8JBgSDjUgWYcWkUSFFIFUiIaiIKBohprHwd1iEtHaWgQXTxe1TJFkwnVgs2ERsJI2NzYKKLAEjuDIwC8vLQhpLB947zMw5d+beO7enVF7SxV7gI96gH8f4jC387f2XbxX7WMBv/MRjbOIHHj4oCIawjWssopbxQexgHhvFSlFlIFetdcQvsIY/WO/Nkh8yOZa4lziMA7zDOX5hNERzmE5Su92bxHE8x6v0r+LX7SD+a/eiuxC1sZH4soCNTl5MeYzGKZ6inLf+KIkxi5d4hpMc4FIo63iCyUzE7X/FWWL4EY988OoxNhW8xifM4BDLhW30ZT6sEpWq+I4p7GKiIAg/4pEPXjUqtfAeXxDP+Ci/2Gcp2wqLVuN5tNqn1sRbrOAbRjCbGH7EI9+EW4FrP6QPY0NqAAAAAElFTkSuQmCC);
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        float: right;
        background: #191f4e;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -webkit-mask-size: contain;
        margin: 0 .5em 0 .5em;
    }
}