.banner_slick_inst{
    padding:0;
    img{
        @include media-breakpoint-down(md){
            width: 100vw;
            height: 80vh;
        }
    }
}
.main_text_about{
    padding: 0;
    position: absolute;
    top: 18em;
    left: 20px;
    @include media-breakpoint-up(md){
        top: 15em;
        left: 15em;
    }
    @media(min-width:1367px){
        left: 17em;
    }
    h1{
        color:#ffffff;
        @include rhythm(33,35);
        font-weight: 900;
        padding-bottom: 25px;
    }
}
.about_container{
    padding: 6% 0% 4% 10%;
    h2{
        @include rhythm(33,40);
        font-weight: bold;
        color: #1A1F4D;
        padding-bottom: 5%;
    }
    p{
        @include rhythm(20,25);
        color: #1A1F4D;
        font-weight: 500;
        padding-bottom: 40px;
        @include media-breakpoint-down(md){
            strong{
                @include rhythm(20,25);
            }
        }
    }
}
.nosso-jeito{
    padding: 15% 0 15% 10%;
    background-image: url(../img/bg_about_obras.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include media-breakpoint-up(md){
        padding: 7% 0% 7% 10%;
    }
    h2{
        @include rhythm(33,40);
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    p{
        @include rhythm(20,25);
        color: #FFFFFF;
    }
    .list-nj{
        display: flex;
        padding-left: 0;
        @include media-breakpoint-down(md){
            flex-direction: column;
            width: 90%;
        }
        //justify-content: space-around;
        .card{
            margin-top: 80px;
            width: 25%;
            height: 100px;
            text-align: center;
            border-left: 1px solid #2ac0ff;
            &:first-child {
                border-left: none;
            }
            @include media-breakpoint-down(md){
                border-left: 0;
                width: 100%;
                border-top: 1px solid #2ac0ff;
                margin-top: 40px;
                padding-top: 46px;
                &:first-child{
                    border-top: 0;
                }
            }
            .card-header{
                position: relative;
                top: -30px;
                display: flex;
                justify-content: center;
                img{
                    width: 20%;
                }
            }
            .card-content{
                display: flex;
                justify-content: center;
                p{
                    @include rhythm(16,22);
                    position: relative;
                    top: -10px;
                    width: 55%;
                    font-weight: bold;
                    @include media-breakpoint-down(md){
                        width: 80%;
                    }
                }
            }
        }
    }
}
.con-obras{
    background-image: url(../img/qscss.jpg);
    padding: 4% 0% 4% 10%;
    .about-atuacao{
        .card{
            padding-bottom: 6%;
            h2{
                @include rhythm(33,40);
                font-weight: 900;
                color: #1A1F4D;
                padding-bottom: 3%;
            }
            p{
                @include rhythm(20,26);
                color: #1A1F4D;
                font-weight: 500;
            }
        }
        a {
            @include rhythm(16,20);
            text-decoration: none;
            font-weight: 700;
            background-color: #2ac0ff;
            color: #1b1f4e;
            border-radius: 0;
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 3px;
        }
    }
    .certificacao{
        padding: 15% 0% 4% 0;
        @include media-breakpoint-up(md){ 
            padding: 4% 0 4% 0;
        }
        h2{
            @include rhythm(33,35);
            font-weight: 900;
            color: #1A1F4D;
            padding-bottom: 3%;
        }
        p{
            @include rhythm(20,30);
            color: #1A1F4D;
            font-weight: 500;
            padding-bottom: 3%;
        }
        .list-ct{
            display: flex;
            padding-left: 0;
            justify-content: space-around;
            @include media-breakpoint-down(md){
                flex-direction: column;
                margin-left: -45px;
            }
            .card{
                text-align: center;
                list-style: none;
                h2{
                    @include rhythm(30,40);
                }
            }
        }
    }
}