#accordion{
    .card{
        padding: 0;
        border: none;
        border-radius: 0;
        .card-header{
            padding: 0;
            border-radius: 0;
            background: transparent;
            border: none;
            h5{
                .btn-link{
                    padding: 0;
                    @extend %color_third;
                    @include rhythm(21, 26);
                    &:hover, &:focus{
                        text-decoration: none;
                    }
                        white-space: unset;
                        text-align: center;
                }
            }
            &.active, &:hover{
                h5{
                    .btn-link{
                        @extend %color_first;
                    }
                }
            }
        }
        .collapse, .collapsing{
            .card-body{
                padding: 0;
                padding-top: 15px;
            }
        }
        & + .card, p + p{
            margin-top: $margin_default;
        }
    }
}