.main_text_compliance{
    padding: 0;
    position: absolute;
    top: 18em;
    left: 20px;
    @include media-breakpoint-up(md){
        top: 22em;
        left: 16em;
    }
    h1{
        color:#ffffff;
        @include rhythm(33,50);
        font-weight: 900;
        padding-bottom: 35px;
    }
    p{
        @include rhythm(24,28);
        color: #ffffff;
    }
}
.etica{
    padding: 8% 13%;
    .card-content {
        margin-top: 65px;
        p{
            @include rhythm(20,26);
            color: #1B1F4E;
        }
    }
    .card-img{
        img{
            width: 218px;
            max-width: 454px;
            margin-bottom: 30px;
        }
        a{
            font-weight: bold;
            fill: #1B1F4E;
            color: #1B1F4E;
            background-color: #2AC0FF;
            padding: 10px 20px;
        }
    }
}
.comunicacao{
    .bg-blue{
        background-image: url(../img/bg_compliance_denuncia.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5% 0;
    }
    h2{
        @include rhythm(32, 40);
        color: #ffffff;
    }
    .list-box{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        .card{
            @include media-breakpoint-down(md){
                padding-bottom: 10%;
            }
            .card-header{
                padding-bottom: 20px;
                img{
                    width: 100%;
                    height: 241px;
                    margin-bottom: 5px;
                }
                iframe{
                    width: 100%;
                }
            }
            .card-content{
                h2{
                    @include rhythm(32, 40);
                    font-weight: bold;
                    padding-bottom: 20px;
                }
                p{
                    @include rhythm(20,26);
                    color: #ffffff;
                }
            }
        }
    }
    .card-contact{
        display: flex;
        background-color: #1a1f4d;
        align-items: center;
        justify-content: space-between;
        max-height: 365px;
        text-align: center;
        img{
            height: 37.7vh;
            margin-left: -13%;        
        }
        .box-contact{
            h2{
                color: #ffffff !important;
            }
            p{
                color: #ffffff;
                padding-bottom: 10px;
            }
            a{
                color: #ffffff;
            }
        }
    }
    .materiais{
        padding: 5% 0;
        h2{
            @include rhythm(32, 35);
            font-weight: 900;
            color: #1A1F4D;
            padding-bottom: 35px;
        }
        .list-materiais{
            li{
                list-style: none;
                display: flex;
                align-items: center;
                svg{
                    font-size: 25px;
                }
                a{
                    @include rhythm(20,26);
                    color: #1A1F4D;
                    font-weight: normal;
                }
            }
        }
    }
}
.denuncia{
    background-image: url(../img/bg_compliance_denuncia.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 13%;
    .card-content{
        color: #ffffff;
        h2{
            @include rhythm(32, 40);
            font-weight: bold;
            padding-bottom: 20px;
        }
        p{
            @include rhythm(20,26);
        }
    }
    .card-contact{
        display: flex;
        background-color: #29C0FF;
        align-items: center;
        max-height: 300px;
        margin-top: 30px;
        padding-left: 0;
        padding: 35px 34px;
        @include media-breakpoint-up(md){
            margin-top: -35px;
            padding: 0 !important;
        }
        p{
            @include rhythm(20,26);
        }
        img{
            height: 100%;
        }
        .contact-dados{
            @include media-breakpoint-up(md){
                padding-left: 45px;
            }
            @media (min-width:1367px){
                padding-left: 100px;
            }
            .title {
                padding-bottom: 60px;
                strong{
                    @include rhythm(20,26);
                    color: #1B1F4E;
                }
            }
            .content{
                p{
                    padding-bottom: 5px;
                }
                a{
                    text-decoration: none;
                    color: #1B1F4E;
                    font-weight: normal;
                }
            }
        }
    }
}