#nav_main {
    @include media-breakpoint-up(md){
        padding: 80px 150px;
        &.scrolled{
            padding: 45px 150px 20px 150px;
            background-color: #1A1F4E;
            @media(min-width:1367px){
                padding: 45px 250px 20px 250px;
            }
            a{
                img{
                    max-width: 70%;
                }
            }
            .nav-link{
                padding: 0.4rem 1.5rem !important;
            }
        }
    }
    @media (min-width:1367px) {
        padding: 80px 250px;
    }
    img{
        filter: brightness(0) invert(1);
    }
    &.scrolled{
        @extend %background_secondary;
		transition: padding-top .3s linear, padding-bottom .3s linear;
		img{
            filter: brightness(0) invert(1);
        }
    }
    &.nav-up{
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, padding-top  .3s ease-in;
        @include media-breakpoint-down(md){
            visibility: visible;
            opacity: 1;
        }
    }
    &.nav-down{
        visibility: visible;
        opacity: 1;
        transition: opacity .4s ease-in, padding-top  .3s ease-in;
	}
    @include media-breakpoint-down(lg){
        //background: $secondary;
        &.scrolled{
            background: $secondary;
        }
        padding: 10px 0;
        .navbar-brand{
            all: unset;
            cursor: pointer;
            max-width: 160px;
            margin: 0 auto;
            // margin-left: 30px;
            img{
                margin: 0 auto;
                filter: brightness(0) invert(1); 
                margin-left: -20px;
            }
        }
        &.fixed-top {
            top: 150px;
            max-width: 100vw;
            @media (min-width:1023px) and (max-width: 1025px){
                top:70px;
            }
        }
        &.scrolled{
            top: 0;
        }
    }
}
nav{
    li.nav-item{
		padding: 0 .2rem;
		a{
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #FFFFFF;
        }
        &.current_page_item{
            a span{
                //border-bottom: 1px solid;
            }
        }
    }
}
.dropdown-menu{
    background: transparent;
    border: none;
        .nav-item a {
            span{
                border-bottom: 1px solid transparent;
            }

            @include media-breakpoint-up(md){
                // max-width: 100px;
            }
            &:hover{ 
                background: transparent;
                span{
                    border-bottom: 1px solid #fff;
                }
            }
        .dropdown-item.active, .dropdown-item:active{
            background: $first;
        }
    }
}
@include media-breakpoint-down(lg){
    #nav_main .dropdown-menu {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #nav_main .dropdown-toggle{
        display: none;
    }
    .dropdown-menu{
        background: transparent;
        border: none;
    }
    #nav_main{
        li:not(.dropdown) {
            margin-top: 1.2rem;  
            a{
                // text-transform: uppercase;
                font-size: 20px;
            }
        }

    }
}

@include media-breakpoint-up(lg){
    nav li.nav-item{
        padding: 0;
        border-bottom: 1px solid #ffffff;
        &:hover{
            border-bottom: 3px solid #ffffff;
            padding-bottom: 0;
            .nav-link{
                //background: $first;
            }
        }
        a{
            &:before{
                background-color: #FFFFFF;
            }
        }
        &.current_page_item{
            a{
                border-bottom: 2px solid #ffffff;
            }
        }
    }
    nav li.nav-item .nav-link{
        //background: $secondary;
        padding: 1.4rem 1.5rem !important;
        text-transform: uppercase;
        font-size: 15px;
        border: none;
    }
    .dropdown-menu{
        .nav-item{
            text-align: right;
            a{
                color: $third; 
            }
        }
    }
}
.dropdown-toggle{
    #nav-icon-item{
        background: #f3f4f4;
        padding: 4px 16px;
        border-radius: .3rem;
    }
}
.icon-bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;   
}
.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
} 
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
@include media-breakpoint-down(md){
    .navbar-nav {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background: #10194e;
    }
}
button.navbar-toggler.collapsed {
    position: unset;
}
button.navbar-toggler {
    position: fixed;
    top: 20px;
    z-index: 999;
    left: 15px;
}
