.main_text_obras{
    padding: 0;
    position: absolute;
    top: 18em;
    left: 20px;
    @include media-breakpoint-up(md){
        top: 15em;
        left: 15em;
    }
    @media(min-width:1367px){
        left: 17em;
    }
    h1{
        color:#ffffff;
        @include rhythm(33,35);
        font-weight: 900;
        padding-bottom: 15px;
        @include media-breakpoint-up(md){
            padding-bottom: 65px;
        }
    }
    p{
        @include rhythm(24,28);
        color: #ffffff;
    }
}
#product{
    p{
        @include rhythm(20,30);
        color: #1B1F4E;
        
    }
    .product-header{
        @include media-breakpoint-up(md){
            padding-top: 60px;
        }
        .nav-tabs{
            justify-content: center;
            .nav-link{
                border: 1px solid #000;
                border-radius: 0;
                color: #000;
                position: relative;
                padding: 2em 1.5em;
                flex: 1 1 auto;
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                justify-content: space-between;
                z-index: 100;
                background: #fff; 
                height: 124px;
                max-width: 128px;       
                &.active {
                    color: #000000;
                    border: 1px solid #000000;
                    background-color: #2ac0ff;
                }
                img{
                    width: 65%;
                }
                .eael-tab-title {
                    font-weight: normal;
                    color: #1b1f4e;
                }
                @include media-breakpoint-up(md){
                    height: 240px;
                    max-width: 237px;
                }
            }
        }
    }
    #nav-tabContent{
        padding-top: 90px;
        h2{
            color: #1B1F4E;
            @include rhythm(32, 40);
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 20px;
        }
        p{
            @include rhythm(20,26);
            color: #1B1F4E;
            
        } 
    }
    .galery-slick.slick-initialized.slick-slider {
        height: 300px;
        @include media-breakpoint-up(md){
            height: 336px;
        }
        img {
            height: 300px;
            width: 100%;
            @include media-breakpoint-up(md){
                height: 336px;
            }
        }
    }
    
}
.project{
    background-image: url(../img/bg_obras.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    .card-content{
        color: #ffffff;
        h2{
            @include rhythm(32, 40);
            font-weight: bold;
            padding-bottom: 30px;
        }
        p{
            @include rhythm(16,24);
        }
        .contact-medium{
            padding-top: 30px;
            p{
                margin-bottom: 5px;
                svg{
                    margin-right: 15px;
                }
            }
        }

    }
    .card-contact{
        display: flex;
        background-color: #ffffff;
        align-items: center;
        justify-content: space-between;
        max-height: 482px;
        margin-top: 30px;
        @include media-breakpoint-up(md){
            margin-top: -35px;
        }
        @media(min-width:1365px) and (max-width:1367px){
            max-height: 450px;
        }
        
        label{
            display: flex;
            flex-direction: column;
            //padding-left: 25px;
            input{
                border: 0;
                border-bottom: 1px solid #1b1e4e;
                border-radius: 0;
                padding: 8px 4px;
                color: #1b1e4e;
                font-weight: 500;
                width: 100%;
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #7f829c !important;
                    opacity: 1;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #7f829c !important;
                    opacity: 1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #7f829c !important;
                    opacity: 1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #7f829c !important;
                    opacity: 1;
                }
            }
            textarea{
                border: 0;
                border-bottom: 1px solid #1b1e4e;
                height: 170px;
                width: 100%;
                background: transparent;
                padding: 16px 8px;
                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: #7f829c !important;
                    opacity: 1;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #7f829c !important;
                    opacity: 1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #7f829c !important;
                    opacity: 1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #7f829c !important;
                    opacity: 1;
                }
            }
        }
        input {
            float: right;
        }
        select{
            border: 0;
            border-bottom: 1px solid #1b1e4e;
            border-radius: 0;
            padding: 8px 2px;
            color: #1b1e4e;
            font-weight: bold;
            width: 100%;
        }
        .img-contact{
            img{
                max-height: 55vh;
                @media(min-width: 1365px) and (max-width:1367px){
                    max-height: 72vh;
                }
            }
        }
        .wpcf7-submit {
            background-color: #2AC0FF;
            color: #1B1E4E;
            font-weight: bold;
            border-radius: 0% 0% 0% 00%;
            border: 0;
            padding: 8px 28px;
        }
    }
}
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} 