a{
    color: $primary;
    transition: .3s ease all;
    font-weight: 700;
    &:hover{
        transition: .3s ease all;
        color: darken($first,15%);
    }
}
@include media-breakpoint-down(sm){
    *{
        font-size: 14px;
    }
}
:focus{outline: none; box-shadow:none!important;}


// div[class*='col-']:not(:last-child) {
//     margin-bottom: 2rem; 
//     @media screen and (min-width: 992px){
//         margin-bottom: 0;
//     }
// }
section, footer{
    padding: $padding-default;
}
