footer{
    background-color: #1B1F4E;
    ul{
        li a{
            padding: 8px 12px;
            display: flex;
            @include rhythm(16, 20);
            font-weight: bold;
            i{
                font-size: 25px;
                color: $secondary;
                position: relative;
                top: 3px;
            }
        }
    }
    .footer-content{
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(md){
            flex-direction: row;
        }
        .social-medias{
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include media-breakpoint-down(md){
                align-items: center;
                margin-top: 30px;
            }
            a{
                color: #1A1F4E;
            }
            svg {
                width: 50px;
                height: 35px;
                @include media-breakpoint-up(md){
                    width: 37px;
                    height: 26px;
                }
            }
        }
        h4{
            color: #29BEFB;
            @include rhythm(32, 40);
            font-weight: bold;
        }
        p{
            @include rhythm(16,18);
            color: #ffffff;
        }
    }
}
.page-template-template-page-home{
    .footer-logo{
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
}

.page-template-template-page-institucional{
    footer{
        background-color: #E3E3E3;
        .nav{
            li{
                border-bottom: 1px solid #1A1F4E;
                &:hover{
                    border-bottom: 3px solid #1A1F4E !important;
                }
                a{
                    color: #1A1F4E;
                }
                &.current_page_item{
                    a{
                        border-bottom: 2px solid #1A1F4E;
                    }
                }
            }
        }
        p{
            color: #1A1F4D;
        }
    }
}

.page-template-template-page-obras{
    footer{
        background-color: #ffffff;
        .nav{
            li{
                border-bottom: 1px solid #1A1F4E;
                &:hover{
                    border-bottom: 3px solid #1A1F4E !important;
                }
                a{
                    color: #1A1F4E;
                }
                &.current_page_item{
                    a{
                        border-bottom: 2px solid #1A1F4E;
                    }
                }
            }
        }
        p{
            color: #1A1F4D;
        }
    }
}

.page-template-template-page-compliance{
    footer{
        background-color: #ffffff;
        .nav{
            li{
                border-bottom: 1px solid #1A1F4E;
                &:hover{
                    border-bottom: 3px solid #1A1F4E !important;
                }
                a{
                    color: #1A1F4E;
                }
                &.current_page_item{
                    a{
                        border-bottom: 2px solid #1A1F4E;
                    }
                }
            }
        }
        p{
            color: #1A1F4D;
        }
        .social-medias{
            a {
                color: #1a1f4b;
            }
        }
    }
}

.page-template-template-page-contato{
    footer{
        background-color: #ffffff;
        .nav{
            li{
                border-bottom: 1px solid #1A1F4E;
                &:hover{
                    border-bottom: 3px solid #1A1F4E !important;
                }
                a{
                    color: #1A1F4E;
                }
                &.current_page_item{
                    a{
                        border-bottom: 2px solid #1A1F4E;
                    }
                }
            }
        }
        p{
            color: #1A1F4D;
        }
        .social-medias{
            a {
                color: #1a1f4b;
            }
        }
    }
}